.subj-selection-container {
  background-color: #e2e7ed;
  padding: 1rem;

  h2{
    color: #728ba4;
  }

  .cardClass {

    margin-top: 3rem;
    padding: 0.5rem;
    cursor: pointer;

    a{
      text-decoration: none;
    }

    ul {
      margin: 0rem;
      padding: 0rem;
      list-style: none;
      margin-bottom: 1rem;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 1rem;

        .icon-and-name-div{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .free{
            color: green;
        }
        .condition-div{
            color: #afb8c8;
        }
      }
    }
  }
}
