.h-i-w-container {
  width: 100%;
  background-color: #f3f2f6;
  h2 {
    span {
      // color: blue;
      color: #3174b4;
    }
    text-align: center;
    // color: #092346;
    color: #3b4965;
  }
  .lead {
    padding: 1rem;
    p {
      text-align: center;
      color: #616779;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .first-card {
      // padding: 0.5rem 0rem;
      .heading {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        h2 {
        //   color: #092346;
          color: #3b4965;
        }
        .one {
          background-color: #3174b4;
          padding: 0.1rem 0.3rem;
          border-radius: 6px;
          h2 {
            // padding: 0.25rem;
            color: white;
          }
        }
      }
      .ul-div ul {
        margin-left: 2rem;
        padding: 0.5rem;
        li {
          color: #6a7688;
        }
        .bottom-one {
          margin-left: -1rem;
          padding: 0.25rem;
        //   background-color: #3174b4;
        background-color: #d8e1ed;
          width: 25%;
        //   color: #6a7688;
        }
      }
    }
    .second-card {
      // padding: 0.5rem 0rem;
      .heading {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        h2 {
        //   color: #092346;
        color: #3b4965;
        }
        .one {
          background-color: #3174b4;
          padding: 0.1rem 0.3rem;
          border-radius: 6px;
          h2 {
            // padding: 0.25rem;
            color: white;
          }
        }
      }
      .ul-div ul {
        margin-left: 2rem;
        padding: 0.5rem;
        li {
          color: #6a7688;
        }
        .bottom-two {
          margin-left: -1rem;
          padding: 0.25rem;
        //   background-color: #3174b4;
        background-color: #d8e1ed;
          width: 55%;
        //   color: #6a7688;
        }
      }
    }
    .third-card {
      // padding: 0.5rem 0rem;
      .heading {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        h2 {
        //   color: #092346;
          color: #3b4965;
        }
        .one {
          background-color: #3174b4;
          padding: 0.1rem 0.3rem;
          border-radius: 6px;
          h2 {
            // padding: 0.25rem;
            color: white;
          }
        }
      }
      .ul-div ul {
        margin-left: 2rem;
        padding: 0.5rem;
        li {
          color: #6a7688;
        }
        .bottom-three {
          margin-left: -1rem;
          padding: 0.25rem;
        //   background-color: #3174b4;
          background-color: #d8e1ed;
          width: 25%;
        //   color: #6a7688;
        }
      }
    }
    .action{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
  }
}
