.button{
    // background-color:#3174b4;
    background-color:#2c5284;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500px;
    text-align: center;
    border-radius: 2px;
    border: none;
    width: 30%;
}